<web-app>

<servlet>
<servlet-name>pOne</servlet-name>
<servlet-class>ClsPageOne</servlet-class>
</servlet>

<servlet>
<servlet-name>pConstruct</servlet-name>
<servlet-class>ClsPageUnderConstruction</servlet-class>
</servlet>



<servlet-mapping>
<servlet-name>pOne</servlet-name>
<url-pattern>/PageOne</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>pConstruct</servlet-name>
<url-pattern>/PageUnderConstruction</url-pattern>
</servlet-mapping>



</web-app>