<web-app>

<servlet>
<servlet-name>logcount</servlet-name>
<servlet-class>ClsLoginCountServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>admin</servlet-name>
<servlet-class>ClsAdminstratorServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>logout</servlet-name>
<servlet-class>ClsLogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>logcount</servlet-name>
<url-pattern>/loginCount</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>admin</servlet-name>
<url-pattern>/admin</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>

</web-app>