<web-app>

<filter>
<filter-name>fltr</filter-name>
<filter-class>ClsFilterServlet</filter-class>
</filter>

<filter-mapping>
<filter-name>fltr</filter-name>
<url-pattern>/MyServlet</url-pattern>
</filter-mapping>

<servlet>
<servlet-name>MySrv</servlet-name>
<servlet-class>ClsMyServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>MySrv</servlet-name>
<url-pattern>/MyServlet</url-pattern>
</servlet-mapping>

</web-app>